html{
    box-sizing: border-box;
}

*, ::before, ::after{
    box-sizing: inherit;
}

.body{
    font-family: "Roboto", sans-serif;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.body--backgroundImage{
    background: center / cover fixed url("../images/calculatorBackground.png");
}
