html{
    box-sizing: border-box;
}

*, ::before, ::after{
    box-sizing: inherit;
}

.body{
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    background-image: url(../images/calculatorBackground.png);
}